#
# Serial Communication Middleware Configuration
#

menu "Serial Communication Middleware"

    config SERIAL_COMM_UART_PORT
        int "UART Port"
        range 0 2
        default 2
        help
            UART peripheral number used by the middleware.

    config SERIAL_COMM_UART_BAUDRATE
        int "UART Baudrate"
        default 115200
        help
            UART communication baudrate.

    config SERIAL_COMM_UART_TX_PIN
        int "UART TX GPIO"
        range -1 48
        default 17
        help
            GPIO used for UART TX.

    config SERIAL_COMM_UART_RX_PIN
        int "UART RX GPIO"
        range -1 48
        default 16
        help
            GPIO used for UART RX.

    config SERIAL_COMM_UART_RTS_PIN
        int "UART RTS GPIO"
        range -1 48
        default -1
        help
            GPIO used for UART RTS.

    config SERIAL_COMM_UART_CTS_PIN
        int "UART CTS GPIO"
        range -1 48
        default -1
        help
            GPIO used for UART CTS.

    config SERIAL_COMM_UART_DE_PIN
        int "UART RS485 DE GPIO"
        range -1 48
        default -1
        help
            GPIO used for RS485 Driver Enable.

    config SERIAL_COMM_UART_RX_BUFFER_SIZE
        int "UART RX Buffer Size"
        default 1024
        help
            UART RX driver buffer size.

    config SERIAL_COMM_UART_TX_BUFFER_SIZE
        int "UART TX Buffer Size"
        default 1024
        help
            UART TX driver buffer size.

    config SERIAL_COMM_UART_EVENT_QUEUE_SIZE
        int "UART Event Queue Size"
        default 32
        help
            UART event queue size.

    config SERIAL_COMM_UART_TASK_STACK_SIZE
        int "UART Task Stack Size"
        default 4096
        help
            Stack size for UART event task.

    config SERIAL_COMM_UART_TASK_PRIORITY
        int "UART Task Priority"
        default 5
        help
            FreeRTOS priority for UART task.

    config SERIAL_COMM_UART_TASK_CORE
        int "UART Task Core"
        range 0 1
        default 1
        help
            CPU core affinity for UART task.

    config SERIAL_COMM_ENABLE_HALF_DUPLEX
        bool "Enable Half Duplex Support"
        default n
        help
            Enables RS485 half duplex mode.

endmenu